:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.Button {
  background-color: #00bbff;
  color: white;
}

.halfBox {
  flex: 1;
}

.anime {
  min-height: 392px;
  min-width: 350px;
  width: 100%;
  /* border: 1px solid #00bbff; */
  border-radius: 16px;
  overflow: hidden;
}
